<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport">
    <title>공실투데이 어드민</title>
    <meta content="공실투데이 어드민" property="og:site_name">
    <meta content="website" property="og:type">
    <meta content="https://gongsiltoday-dev.s3.ap-northeast-2.amazonaws.com/logo.png" property="og:image">
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0b8ea69a879d42da2a1f0cce4f7bedfa&libraries=services"></script>

    <!-- update the version number as needed -->
    <!-- <script defer src="/__/firebase/10.8.0/firebase-app-compat.js"></script>
    <script defer src="/__/firebase/10.8.0/firebase-auth-compat.js"></script>
    <script defer src="/__/firebase/10.8.0/firebase-database-compat.js"></script>
    <script defer src="/__/firebase/10.8.0/firebase-firestore-compat.js"></script>
    <script defer src="/__/firebase/10.8.0/firebase-functions-compat.js"></script>
    <script defer src="/__/firebase/10.8.0/firebase-messaging-compat.js"></script>
    <script defer src="/__/firebase/10.8.0/firebase-storage-compat.js"></script>
    <script defer src="/__/firebase/10.8.0/firebase-analytics-compat.js"></script>
    <script defer src="/__/firebase/10.8.0/firebase-remote-config-compat.js"></script>
    <script defer src="/__/firebase/10.8.0/firebase-performance-compat.js"></script> -->
</head>

<body>
    <div id="root"></div>
</body>

</html>