$color-gray10: #fdfeff;
$color-gray20: #f2f3f4;
$color-gray50: #a9afb3;
$color-gray80: #363a3d;

$color-blue-256aff: #256aff;
$color-blue10: #e6eeff;
$color-blue50: #256aff;

$color-orange80: #F37522;